.remove-button {
  all: unset;
  color: rgb(200, 65, 65);
  cursor: pointer;
  height: 1.2em;
}

.remove-button > img {
  width: 100%;
  height: 80%;
}

.list-item .remove-button {
  display: none;
}

.list-item:focus-within .remove-button,
.list-item:hover .remove-button {
  display: inline;
  cursor: pointer;
}
