main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 48px;
  padding-top: 67px;
  padding-bottom: 67px;
  padding-left: 63px;
  padding-right: 63px;
  max-width: 720px;
  width: 100%;
}

.main-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 48px;
  width: 100%;
}

.get-recipe-button {
  background-color: #d17557;
}

.get-recipe-button:active {
  background-color: #d1856c;
}
