main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 48px;
  padding-top: 67px;
  padding-bottom: 67px;
  padding-left: 63px;
  padding-right: 63px;
  max-width: 720px;
  width: 100%;
}
