header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 111px;
  gap: 14px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1),
    0px 1px 2px 0px rgba(0, 0, 0, 0.06);
  background-color: white;
  width: 100%;
}

.page-title {
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 60px;
  letter-spacing: -0.05em;
  color: #E05323;
}

header img {
  height: 72px;
  width: auto;
}
