.text-title {
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 38px;
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.list-item {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #475467;
}
