* {
  box-sizing: border-box;
  margin: 0px;
  font-family: Inter, sans-serif;
}

button {
  border: 0px;
  border-radius: 6px;
  height: 38px;
  padding: 9px 17px 9px 17px;
  font-size: small;
  flex-basis: 0;
  color: #fafaf8;
  white-space: nowrap;
  cursor: pointer;
  }

  button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
    background-color: #777777;
    color: #d3d3d3;
}

body {
  margin: 0px;
  background-color: #fafaf8;
  font-family: Inter, sans-serif;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
