.bannerRoot {
  display: flex;
  gap: 8px;
  background-color: #f0efeb;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  padding: 28px 42px;
}

.bannerTextContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.bannerTextContainer > h3 {
  font-weight: 500;
  line-height: 24px;
  line-height: 24px;
}

.bannerTextContainer > p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #6b7280;
}
