.ingridient-root {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.ingridient-input {
  flex: 1;
  width: 100%;
  border-radius: 6px;
  border: 1px solid #d1d5db;
  stroke-width: 1px;
  height: 38px;
  outline: none;
  padding-left: 13px;
  padding-right: 13px;
  padding-top: 9px;
  padding-bottom: 9px;
  font-size: small;
  box-shadow: black;
  flex-grow: 2;
}

.submit-ingridient-button {
  max-width: 183px;
  background-color: #141413;
  flex-grow: 1;
}

.submit-ingridient-button:active {
  background-color: #353533;
}

.submit-ingridient-button::before {
  content: "+";
  padding-right: 5px;
}
